[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
.vs/
[Tt]humbs.db 
_ReSharper.*
*.resharper
Ankh.NoLoad
/LogSubmit/Uploads
/packages
/Submitter/appsettings.Development.json
/Submitter/appsettings.Production.json
/Old.NET/Submitter/Web.Release.config
/Old.NET/Submitter/Web.Debug.config
