<p>Loguri primite pana la  ora  UTC:1/9/2026 8:46:42 AM</p>
<table><tr><th>Indicativ</th><th>Numar legaturi</th></tr>
<tr><td>YO2AMU</td><td>48</td></tr>
<tr><td>YO2BCS</td><td>29</td></tr>
<tr><td>YO2BWC</td><td>74</td></tr>
<tr><td>YO2CIP</td><td>20</td></tr>
<tr><td>YO2CK</td><td>93</td></tr>
<tr><td>YO2CMI</td><td>24</td></tr>
<tr><td>YO2GL</td><td>45</td></tr>
<tr><td>YO2KQT</td><td>54</td></tr>
<tr><td>YO2LCV</td><td>61</td></tr>
<tr><td>YO2LLZ</td><td>67</td></tr>
<tr><td>YO2LOJ</td><td>50</td></tr>
<tr><td>YO2LTA</td><td>54</td></tr>
<tr><td>YO2LXW</td><td>53</td></tr>
<tr><td>YO2MAX</td><td>87</td></tr>
<tr><td>YO2MFC</td><td>6</td></tr>
<tr><td>YO2MJZ</td><td>65</td></tr>
<tr><td>YO2MKL</td><td>16</td></tr>
<tr><td>YO2MSP</td><td>43</td></tr>
<tr><td>YO2NAA</td><td>76</td></tr>
<tr><td>YO2NS</td><td>72</td></tr>
<tr><td>YO2SH</td><td>89</td></tr>
<tr><td>YO3AF</td><td>85</td></tr>
<tr><td>YO3APJ</td><td>97</td></tr>
<tr><td>YO3DIU</td><td>78</td></tr>
<tr><td>YO3GCL</td><td>88</td></tr>
<tr><td>YO3JW</td><td>43</td></tr>
<tr><td>YO4AJ</td><td>3</td></tr>
<tr><td>YO4BXX</td><td>66</td></tr>
<tr><td>YO4BYW</td><td>73</td></tr>
<tr><td>YO4DW/P</td><td>25</td></tr>
<tr><td>YO4SI</td><td>56</td></tr>
<tr><td>YO4TL</td><td>9</td></tr>
<tr><td>YO5AVN</td><td>86</td></tr>
<tr><td>YO5BTZ</td><td>50</td></tr>
<tr><td>YO5DAS</td><td>72</td></tr>
<tr><td>YO5DDD</td><td>97</td></tr>
<tr><td>YO5LD</td><td>101</td></tr>
<tr><td>YO5OHB</td><td>95</td></tr>
<tr><td>YO5PEU</td><td>87</td></tr>
<tr><td>YO5QDI</td><td>64</td></tr>
<tr><td>YO5YM</td><td>63</td></tr>
<tr><td>YO6BJG</td><td>78</td></tr>
<tr><td>YO6FNF</td><td>54</td></tr>
<tr><td>YO6KNE</td><td>101</td></tr>
<tr><td>YO6OIW</td><td>67</td></tr>
<tr><td>YO7BEM</td><td>43</td></tr>
<tr><td>YO8BFB</td><td>50</td></tr>
<tr><td>YO8CHD</td><td>46</td></tr>
<tr><td>YO8SDC</td><td>81</td></tr>
<tr><td>YO9BI</td><td>62</td></tr>
<tr><td>YO9CLG</td><td>20</td></tr>
<tr><td>YO9CWY</td><td>27</td></tr>
<tr><td>YO9FDG</td><td>34</td></tr>
<tr><td>YO9IGV</td><td>51</td></tr>
<tr><td>YO9KPB</td><td>50</td></tr>
<tr><td>YO9XC</td><td>56</td></tr>
<tr><td>YP1989TM</td><td>81</td></tr>
<tr><td>YP2DX</td><td>46</td></tr>
</table>
Asteptam in continuare loguri de la:
<table><tr><th>Indicativ</th><th>Numar legaturi in care apare indicativul</th></tr>
<tr><td>YO2DDD</td><td>1</td></tr>
<tr><td>Y02MFC</td><td>1</td></tr>
<tr><td>YO5LDYO</td><td>1</td></tr>
<tr><td>Y05LD</td><td>1</td></tr>
<tr><td>YP9XMAS</td><td>3</td></tr>
<tr><td>YO6OGW</td><td>1</td></tr>
<tr><td>YP19TM</td><td>1</td></tr>
<tr><td>YO2LZZ</td><td>3</td></tr>
<tr><td>YO2YM</td><td>1</td></tr>
<tr><td>YO2CLV</td><td>1</td></tr>
<tr><td>YO9IVG</td><td>1</td></tr>
<tr><td>YO8BDQ</td><td>29</td></tr>
<tr><td>YO9FGD</td><td>1</td></tr>
<tr><td>YP189TM</td><td>1</td></tr>
<tr><td>YP1989</td><td>1</td></tr>
<tr><td>SQ6IUD</td><td>1</td></tr>
<tr><td>YO6OIV</td><td>1</td></tr>
<tr><td>YOFNF</td><td>1</td></tr>
<tr><td>YO7BJG</td><td>2</td></tr>
<tr><td>YO2SI</td><td>1</td></tr>
<tr><td>YO5KDI</td><td>4</td></tr>
<tr><td>YO3BRO/P</td><td>1</td></tr>
<tr><td>YO2MPS</td><td>1</td></tr>
<tr><td>YO5OHD</td><td>1</td></tr>
<tr><td>YO2AAX</td><td>1</td></tr>
<tr><td>YO2LLL</td><td>1</td></tr>
<tr><td>YO9KPV</td><td>1</td></tr>
<tr><td>YO7KNE</td><td>1</td></tr>
<tr><td>YO3AJ</td><td>1</td></tr>
<tr><td>YO3AFF</td><td>1</td></tr>
<tr><td>Y03AF</td><td>1</td></tr>
<tr><td>YO2MI</td><td>1</td></tr>
<tr><td>YO2LOG</td><td>2</td></tr>
<tr><td>YP1898TM</td><td>1</td></tr>
<tr><td>YO4SI9</td><td>1</td></tr>
<tr><td>YO4BX</td><td>1</td></tr>
<tr><td>YO3APG</td><td>1</td></tr>
<tr><td>YO3BRO/QRP</td><td>1</td></tr>
<tr><td>YO2MPW</td><td>1</td></tr>
<tr><td>YO5PHU</td><td>1</td></tr>
<tr><td>YO2MPL</td><td>1</td></tr>
</table>
