<p>Loguri primite pana la  ora  UTC:1/9/2026 9:12:52 AM</p>
<table><tr><th>Indicativ</th><th>Numar legaturi</th></tr>
<tr><td>YO2BCO</td><td>46</td></tr>
<tr><td>YO2BLX</td><td>58</td></tr>
<tr><td>YO2CK</td><td>57</td></tr>
<tr><td>YO2CLL</td><td>46</td></tr>
<tr><td>YO2CXJ</td><td>47</td></tr>
<tr><td>YO2KQT</td><td>55</td></tr>
<tr><td>YO2LCP</td><td>39</td></tr>
<tr><td>YO2LFN</td><td>45</td></tr>
<tr><td>YO2LJB</td><td>44</td></tr>
<tr><td>YO2LLZ</td><td>45</td></tr>
<tr><td>YO2MIT</td><td>48</td></tr>
<tr><td>YO2MKL</td><td>42</td></tr>
<tr><td>YO2MOO</td><td>37</td></tr>
<tr><td>YO2MTG</td><td>56</td></tr>
<tr><td>YO2YA</td><td>54</td></tr>
<tr><td>YO3GCL</td><td>61</td></tr>
<tr><td>YO4AUL</td><td>30</td></tr>
<tr><td>YO4DW</td><td>52</td></tr>
<tr><td>YO4FPF</td><td>11</td></tr>
<tr><td>YO5YM</td><td>8</td></tr>
<tr><td>YO6KNE</td><td>61</td></tr>
<tr><td>YO7BEM</td><td>18</td></tr>
<tr><td>YO7CKQ</td><td>55</td></tr>
<tr><td>YO7LDT</td><td>53</td></tr>
<tr><td>YO8BFB</td><td>37</td></tr>
<tr><td>YO8CKR</td><td>18</td></tr>
<tr><td>YO9XC</td><td>24</td></tr>
<tr><td>YP1989TM</td><td>55</td></tr>
<tr><td>YP2R</td><td>60</td></tr>
<tr><td>YQ2A</td><td>58</td></tr>
</table>
Asteptam in continuare loguri de la:
<table><tr><th>Indicativ</th><th>Numar legaturi in care apare indicativul</th></tr>
<tr><td>YO4DX</td><td>1</td></tr>
<tr><td>YO8CSR</td><td>1</td></tr>
<tr><td>YT3D</td><td>1</td></tr>
<tr><td>YO2CJX</td><td>13</td></tr>
<tr><td>YO2LZZ</td><td>1</td></tr>
<tr><td>YO2MOZ</td><td>24</td></tr>
<tr><td>YO2YM</td><td>1</td></tr>
<tr><td>YO2LQN</td><td>4</td></tr>
<tr><td>Y07LDT</td><td>1</td></tr>
<tr><td>YO1989TM</td><td>1</td></tr>
<tr><td>YO5ODL</td><td>34</td></tr>
<tr><td>YO2LFM</td><td>1</td></tr>
<tr><td>YO8DRR</td><td>1</td></tr>
<tr><td>YO9BHI</td><td>45</td></tr>
<tr><td>YO8CKQ</td><td>1</td></tr>
<tr><td>YO3MKL</td><td>1</td></tr>
<tr><td>YP2RY</td><td>1</td></tr>
<tr><td>YO2CXG</td><td>1</td></tr>
<tr><td>YP2</td><td>1</td></tr>
<tr><td>YO2MFC</td><td>1</td></tr>
</table>
