<p>Loguri primite pana la  ora  UTC:1/9/2026 8:47:04 AM</p>
<table><tr><th>Indicativ</th><th>Numar legaturi</th></tr>
<tr><td>OE5CCE</td><td>53</td></tr>
<tr><td>YO2AMU</td><td>52</td></tr>
<tr><td>YO2AQO</td><td>60</td></tr>
<tr><td>YO2BCS</td><td>22</td></tr>
<tr><td>YO2BLX</td><td>91</td></tr>
<tr><td>YO2CK</td><td>76</td></tr>
<tr><td>YO2CLL</td><td>45</td></tr>
<tr><td>YO2CMI</td><td>26</td></tr>
<tr><td>YO2CXJ</td><td>89</td></tr>
<tr><td>YO2GL</td><td>31</td></tr>
<tr><td>YO2LCP</td><td>69</td></tr>
<tr><td>YO2LCV</td><td>45</td></tr>
<tr><td>YO2LDU</td><td>84</td></tr>
<tr><td>YO2LGH</td><td>59</td></tr>
<tr><td>YO2LLZ</td><td>71</td></tr>
<tr><td>YO2LRK</td><td>97</td></tr>
<tr><td>YO2LSP</td><td>82</td></tr>
<tr><td>YO2LTF</td><td>95</td></tr>
<tr><td>YO2LXW</td><td>42</td></tr>
<tr><td>YO2MIT</td><td>48</td></tr>
<tr><td>YO2MJZ</td><td>54</td></tr>
<tr><td>YO2MKL</td><td>22</td></tr>
<tr><td>YO2MNZ</td><td>78</td></tr>
<tr><td>YO2MTD</td><td>86</td></tr>
<tr><td>YO2MTG</td><td>86</td></tr>
<tr><td>YO2NWW</td><td>71</td></tr>
<tr><td>YO2SH</td><td>52</td></tr>
<tr><td>YO2URS</td><td>43</td></tr>
<tr><td>YO9URS</td><td>43</td></tr>
<tr><td>YO3APJ</td><td>101</td></tr>
<tr><td>YO3GCL</td><td>49</td></tr>
<tr><td>YO3GNF</td><td>16</td></tr>
<tr><td>YO3JW</td><td>104</td></tr>
<tr><td></td><td>73</td></tr>
<tr><td>YO4BXX</td><td>41</td></tr>
<tr><td>YO4BYW</td><td>65</td></tr>
<tr><td>YO4KAK</td><td>55</td></tr>
<tr><td>YO4SI</td><td>64</td></tr>
<tr><td>YO4TL</td><td>27</td></tr>
<tr><td>YO5DAS</td><td>80</td></tr>
<tr><td>YO5OHB</td><td>98</td></tr>
<tr><td>YO6BJG</td><td>65</td></tr>
<tr><td>YO6PEG</td><td>82</td></tr>
<tr><td>YO7AKY</td><td>72</td></tr>
<tr><td>YO7BEM</td><td>81</td></tr>
<tr><td>YO7CKQ</td><td>28</td></tr>
<tr><td>YO7FWS</td><td>40</td></tr>
<tr><td>YO7HUZ</td><td>40</td></tr>
<tr><td>YO7LYM</td><td>30</td></tr>
<tr><td>YO7MPI</td><td>75</td></tr>
<tr><td>YO8CKR</td><td>51</td></tr>
<tr><td>YO8THG</td><td>71</td></tr>
<tr><td>YO9FLD</td><td>95</td></tr>
<tr><td>YO9FTR</td><td>40</td></tr>
<tr><td>YP1989TM</td><td>66</td></tr>
<tr><td>YP8XMAS</td><td>63</td></tr>
</table>
Asteptam in continuare loguri de la:
<table><tr><th>Indicativ</th><th>Numar legaturi in care apare indicativul</th></tr>
<tr><td>YO2MTL</td><td>1</td></tr>
<tr><td>YO4BYX</td><td>2</td></tr>
<tr><td>YO02MTG</td><td>1</td></tr>
<tr><td>YO4BX</td><td>1</td></tr>
<tr><td>YO4BYU</td><td>1</td></tr>
<tr><td>YO2APJ</td><td>1</td></tr>
<tr><td>YO2LKK</td><td>1</td></tr>
<tr><td>YO4SH</td><td>1</td></tr>
<tr><td>YO1989TM</td><td>1</td></tr>
<tr><td>YO4AJ</td><td>68</td></tr>
<tr><td>YOLSP</td><td>1</td></tr>
<tr><td>YO2LCW</td><td>1</td></tr>
<tr><td>YO2LXB</td><td>1</td></tr>
<tr><td>YO3AAJ</td><td>1</td></tr>
<tr><td>YO2MHZ</td><td>1</td></tr>
<tr><td>YO2KQK</td><td>93</td></tr>
<tr><td>YO2LMM</td><td>6</td></tr>
<tr><td>YO02MTD</td><td>1</td></tr>
<tr><td>YO7CQQ</td><td>1</td></tr>
<tr><td>Y02URS</td><td>1</td></tr>
<tr><td>YP8YMAS</td><td>1</td></tr>
<tr><td>59</td><td>73</td></tr>
<tr><td>YO2LZZ</td><td>1</td></tr>
<tr><td>YO7AKH</td><td>1</td></tr>
<tr><td>YO7CQK</td><td>1</td></tr>
<tr><td>YOLXW</td><td>1</td></tr>
<tr><td>YOMTD</td><td>1</td></tr>
<tr><td>YO2RLK</td><td>2</td></tr>
<tr><td>YO2QKQ</td><td>2</td></tr>
<tr><td>YOCKQ</td><td>1</td></tr>
<tr><td>YP1989</td><td>1</td></tr>
<tr><td>YO2LQI</td><td>26</td></tr>
<tr><td>YO8BND</td><td>40</td></tr>
<tr><td>YO8LSP</td><td>1</td></tr>
<tr><td>YO5PEG</td><td>1</td></tr>
<tr><td>YP189TM</td><td>1</td></tr>
<tr><td>YO9BHI</td><td>1</td></tr>
<tr><td>YO7ABW</td><td>1</td></tr>
<tr><td>YO9FTD</td><td>1</td></tr>
<tr><td>YP1898TM</td><td>1</td></tr>
<tr><td>YO7BJG</td><td>1</td></tr>
<tr><td>YO3LSP</td><td>2</td></tr>
<tr><td>YP83XMAS</td><td>1</td></tr>
<tr><td>YO8BNJ</td><td>1</td></tr>
<tr><td>YOMTG</td><td>1</td></tr>
<tr><td>YO2HIT</td><td>1</td></tr>
<tr><td>YO7MDI</td><td>1</td></tr>
<tr><td>YO2AQM</td><td>1</td></tr>
<tr><td>YP8XMAX</td><td>3</td></tr>
<tr><td>599</td><td>1</td></tr>
<tr><td>OE5CC</td><td>1</td></tr>
<tr><td>Y07MPI</td><td>1</td></tr>
<tr><td>YO4BWY</td><td>1</td></tr>
<tr><td>YO3FLD</td><td>1</td></tr>
<tr><td>YO2YRS</td><td>1</td></tr>
<tr><td>YO2MDT</td><td>1</td></tr>
<tr><td>YO8CXK</td><td>1</td></tr>
<tr><td>YP81989TM</td><td>1</td></tr>
<tr><td>YO7AMK</td><td>1</td></tr>
<tr><td>YO2CLX</td><td>1</td></tr>
<tr><td>YO4AG</td><td>1</td></tr>
<tr><td>YOOE5CCE</td><td>1</td></tr>
</table>
