<p>Loguri primite pana la  ora  UTC:1/9/2026 8:47:31 AM</p>
<table><tr><th>Indicativ</th><th>Numar legaturi</th></tr>
<tr><td>YO2ABO</td><td>39</td></tr>
<tr><td>YO2ABZ</td><td>55</td></tr>
<tr><td>YO2ADQ</td><td>41</td></tr>
<tr><td>YO2BCS</td><td>13</td></tr>
<tr><td>YO2BLX</td><td>116</td></tr>
<tr><td>YO2BWC</td><td>76</td></tr>
<tr><td>YO2BWR</td><td>10</td></tr>
<tr><td>YO2CIP</td><td>12</td></tr>
<tr><td>YO2CJX</td><td>113</td></tr>
<tr><td>YO2CMI</td><td>46</td></tr>
<tr><td>YO2CXJ</td><td>110</td></tr>
<tr><td>YO2DD</td><td>79</td></tr>
<tr><td>YO2GL</td><td>50</td></tr>
<tr><td>YO2KBQ</td><td>64</td></tr>
<tr><td>YO2KQK</td><td>108</td></tr>
<tr><td>YO2LCP</td><td>96</td></tr>
<tr><td>YO2LCV</td><td>30</td></tr>
<tr><td>YO2LJB</td><td>37</td></tr>
<tr><td>YO2LRK</td><td>110</td></tr>
<tr><td>YO2MFC</td><td>80</td></tr>
<tr><td>YO2MJZ</td><td>58</td></tr>
<tr><td>YO2MKE</td><td>28</td></tr>
<tr><td>YO2MSP</td><td>55</td></tr>
<tr><td>YO2NWW</td><td>106</td></tr>
<tr><td>YO2OXD</td><td>44</td></tr>
<tr><td>YO2URS</td><td>24</td></tr>
<tr><td>YO2YA</td><td>108</td></tr>
<tr><td>YO2ZQ</td><td>30</td></tr>
<tr><td>YO3DIU</td><td>98</td></tr>
<tr><td>YO3JW</td><td>96</td></tr>
<tr><td>YO4BEX</td><td>31</td></tr>
<tr><td>YO4BYW</td><td>80</td></tr>
<tr><td>YO4CAI</td><td>49</td></tr>
<tr><td>YO4KAK</td><td>84</td></tr>
<tr><td>YO4SI</td><td>74</td></tr>
<tr><td>YO5AVN</td><td>62</td></tr>
<tr><td>YO5CHJ</td><td>58</td></tr>
<tr><td>YO5DAS</td><td>86</td></tr>
<tr><td>YO5DDD</td><td>106</td></tr>
<tr><td>YO5GHA</td><td>86</td></tr>
<tr><td>YO5PVZ</td><td>64</td></tr>
<tr><td>YO6BJG</td><td>74</td></tr>
<tr><td>YO6KNE</td><td>127</td></tr>
<tr><td>YO7AKY</td><td>86</td></tr>
<tr><td>YO7AWZ</td><td>40</td></tr>
<tr><td>YO7BEM</td><td>94</td></tr>
<tr><td>YO7FWS</td><td>74</td></tr>
<tr><td>YO7HBY</td><td>35</td></tr>
<tr><td>YO7HUZ</td><td>46</td></tr>
<tr><td>YO7KAJ</td><td>58</td></tr>
<tr><td>YO7LDT</td><td>84</td></tr>
<tr><td>YO7NSP</td><td>52</td></tr>
<tr><td>YO8CJY</td><td>84</td></tr>
<tr><td>YO8CKR</td><td>59</td></tr>
<tr><td>YO8DOH</td><td>74</td></tr>
<tr><td>YO8KAN</td><td>73</td></tr>
<tr><td>YO8RAL</td><td>48</td></tr>
<tr><td>YO9CLG</td><td>40</td></tr>
<tr><td>YO9CWY</td><td>33</td></tr>
<tr><td>YO9FLD</td><td>113</td></tr>
<tr><td>YO9IOE</td><td>113</td></tr>
<tr><td>YP1989TM</td><td>156</td></tr>
<tr><td>YO2LLZ</td><td>72</td></tr>
<tr><td>YP30LSP</td><td>75</td></tr>
<tr><td>YP30MKL</td><td>33</td></tr>
<tr><td>YP30MTG</td><td>128</td></tr>
<tr><td>YP65CCC</td><td>66</td></tr>
<tr><td>YR8V</td><td>113</td></tr>
</table>
Asteptam in continuare loguri de la:
<table><tr><th>Indicativ</th><th>Numar legaturi in care apare indicativul</th></tr>
<tr><td>YO2DAS</td><td>1</td></tr>
<tr><td>YO3FLD</td><td>2</td></tr>
<tr><td>Y02MSP</td><td>1</td></tr>
<tr><td>YOHA0BA</td><td>1</td></tr>
<tr><td>YO2LCU</td><td>1</td></tr>
<tr><td>YO2MTG</td><td>1</td></tr>
<tr><td>Y08CKR</td><td>1</td></tr>
<tr><td>YO2OS</td><td>1</td></tr>
<tr><td>YO7KNE</td><td>1</td></tr>
<tr><td>YO2MJC</td><td>1</td></tr>
<tr><td>YO2MKL</td><td>1</td></tr>
<tr><td>YP30MPG</td><td>1</td></tr>
<tr><td>YO2LRQ</td><td>4</td></tr>
<tr><td>YP3OMTG</td><td>1</td></tr>
<tr><td>YO4BWY</td><td>2</td></tr>
<tr><td>YP89TM</td><td>1</td></tr>
<tr><td>YOCJX</td><td>1</td></tr>
<tr><td>YO2DFA</td><td>1</td></tr>
<tr><td>YO2AA</td><td>1</td></tr>
<tr><td>YR30</td><td>1</td></tr>
<tr><td>YO30LSP</td><td>2</td></tr>
<tr><td>Y02CJX</td><td>1</td></tr>
<tr><td>Y08DOH</td><td>1</td></tr>
<tr><td>YO30LLZ</td><td>1</td></tr>
<tr><td>OE6FEF</td><td>1</td></tr>
<tr><td>YO8BDW</td><td>1</td></tr>
<tr><td>YO8V</td><td>1</td></tr>
<tr><td>YR30LSP</td><td>1</td></tr>
<tr><td>YO4BXX</td><td>2</td></tr>
<tr><td>YP30LZZ</td><td>1</td></tr>
<tr><td>YO2KXJ</td><td>1</td></tr>
<tr><td>YO2BOF</td><td>1</td></tr>
<tr><td>YOCAI</td><td>1</td></tr>
<tr><td>YO6PEG</td><td>1</td></tr>
<tr><td>YO6BGT</td><td>1</td></tr>
<tr><td>065</td><td>1</td></tr>
<tr><td>YO9CXY</td><td>1</td></tr>
<tr><td>Y05DDD</td><td>1</td></tr>
<tr><td>YO2KBK</td><td>3</td></tr>
<tr><td>YO5PWZ</td><td>1</td></tr>
<tr><td>YO9KPD</td><td>1</td></tr>
<tr><td>YO4BEW</td><td>1</td></tr>
<tr><td>YO9CXC</td><td>1</td></tr>
<tr><td>YO2XA</td><td>1</td></tr>
<tr><td>YO8CLY</td><td>1</td></tr>
<tr><td>YO8KAR</td><td>1</td></tr>
<tr><td>YRHV</td><td>2</td></tr>
<tr><td>YR65CCC</td><td>1</td></tr>
<tr><td>YO8RAW</td><td>1</td></tr>
<tr><td>YO2MXC</td><td>1</td></tr>
<tr><td>YR8VTM</td><td>2</td></tr>
<tr><td>YO3AIS</td><td>21</td></tr>
<tr><td>YO7FLD</td><td>1</td></tr>
<tr><td>YO7FBY</td><td>1</td></tr>
<tr><td>YO2MSO</td><td>1</td></tr>
<tr><td>YR30MTG</td><td>1</td></tr>
<tr><td>YO2MSR</td><td>1</td></tr>
<tr><td>HA0BA</td><td>23</td></tr>
<tr><td>YO2LPC</td><td>1</td></tr>
<tr><td>YO2MPC</td><td>1</td></tr>
<tr><td>Y06BJG</td><td>2</td></tr>
<tr><td>YO3GCL</td><td>1</td></tr>
<tr><td>YO2LRS</td><td>1</td></tr>
<tr><td>YO3BIU</td><td>1</td></tr>
<tr><td>YP30LLZ</td><td>66</td></tr>
<tr><td>YO4HUJ</td><td>1</td></tr>
<tr><td>YO7LYM</td><td>2</td></tr>
<tr><td>Y05GHA</td><td>2</td></tr>
<tr><td>YO30MTG</td><td>1</td></tr>
<tr><td>YO9IAB</td><td>1</td></tr>
<tr><td>YO9ADQ</td><td>1</td></tr>
<tr><td>YO6AKY</td><td>1</td></tr>
<tr><td>YO7BEB</td><td>1</td></tr>
<tr><td>YOMJZ</td><td>1</td></tr>
<tr><td>YO2LSP</td><td>3</td></tr>
<tr><td>YO6BWC</td><td>1</td></tr>
<tr><td>YO8BJG</td><td>1</td></tr>
<tr><td>YO5DD</td><td>1</td></tr>
<tr><td>Y05AVN</td><td>1</td></tr>
<tr><td>YO2CPX</td><td>1</td></tr>
<tr><td>YO2UBS</td><td>1</td></tr>
<tr><td>YO2DDD</td><td>1</td></tr>
<tr><td>YO2MOZ</td><td>1</td></tr>
<tr><td>YO4KAB</td><td>1</td></tr>
<tr><td>YO2LRP</td><td>1</td></tr>
<tr><td>YODAS</td><td>1</td></tr>
<tr><td>YO4BYN</td><td>1</td></tr>
<tr><td>Y06KNE</td><td>1</td></tr>
<tr><td>YO3APJ</td><td>1</td></tr>
<tr><td>YO9CL</td><td>1</td></tr>
<tr><td>Y02DD</td><td>1</td></tr>
</table>
