
Va multumim pentru participarea la Cupa Timisului 2013.
Logurile primite vor aparea in cel mai scurt timp pe pagina  <a href="http://www.yo2kqt.ro/index.php?view=article&id=87%3Aloguri-primite-2013">Loguri primite</a>. Daca dupa ca. 72 ore de la trimitere logul dvs. nu apare, va rugam sa ne contactati.