<p>Loguri primite pana la  ora  UTC:12/17/2018 1:16:56 PM</p>
<table><tr><th>Indicativ</th><th>Numar legaturi</th></tr>
<tr><td>YO2AA</td><td>73</td></tr>
<tr><td>YO2BLX</td><td>69</td></tr>
<tr><td>YO2BOF</td><td>72</td></tr>
<tr><td>YO2CJX</td><td>68</td></tr>
<tr><td>YO2LSP</td><td>45</td></tr>
<tr><td>YO2MFC</td><td>60</td></tr>
<tr><td>YO2MKL</td><td>26</td></tr>
<tr><td>YO2MOZ</td><td>24</td></tr>
<tr><td>YO2OS</td><td>38</td></tr>
<tr><td>YO3APJ</td><td>72</td></tr>
<tr><td>YO3GCL</td><td>62</td></tr>
<tr><td>YO3JW</td><td>69</td></tr>
<tr><td>YO4KAK</td><td>54</td></tr>
<tr><td>YO4SI</td><td>61</td></tr>
<tr><td>YO5CHJ</td><td>40</td></tr>
<tr><td>YO6BGT</td><td>73</td></tr>
<tr><td>YO6PEG</td><td>59</td></tr>
<tr><td>YO7AKY</td><td>62</td></tr>
<tr><td>YO7MSJ</td><td>18</td></tr>
<tr><td>YO9IAB</td><td>60</td></tr>
<tr><td>YP1989TM</td><td>71</td></tr>
</table>
Asteptam in continuare loguri de la:
<table><tr><th>Indicativ</th><th>Numar legaturi in care apare indicativul</th></tr>
<tr><td>YOMFC</td><td>1</td></tr>
<tr><td>YO9KPD</td><td>37</td></tr>
<tr><td>YO2DFA</td><td>37</td></tr>
<tr><td>YO7LYW</td><td>1</td></tr>
<tr><td>YO4HUG</td><td>1</td></tr>
<tr><td>YO2MOJ</td><td>1</td></tr>
<tr><td>YO1989TM</td><td>1</td></tr>
<tr><td>YO7BEM</td><td>38</td></tr>
<tr><td>YO4HUJ</td><td>34</td></tr>
<tr><td>YOLSP</td><td>1</td></tr>
<tr><td>YO4BXX</td><td>31</td></tr>
<tr><td>YO5DAS</td><td>33</td></tr>
<tr><td>YO2B0F</td><td>1</td></tr>
<tr><td>YO8CKR</td><td>33</td></tr>
<tr><td>YO20S</td><td>2</td></tr>
<tr><td>YO5MDA</td><td>1</td></tr>
<tr><td>YO9FL</td><td>12</td></tr>
<tr><td>YO9CLD</td><td>1</td></tr>
<tr><td>YO7LYM</td><td>30</td></tr>
<tr><td>YO7LDT</td><td>34</td></tr>
<tr><td>YO2KAR</td><td>36</td></tr>
<tr><td>YO9CLG</td><td>28</td></tr>
<tr><td>YO8BDW</td><td>10</td></tr>
<tr><td>YO2CPX</td><td>18</td></tr>
<tr><td>YO9XC</td><td>21</td></tr>
<tr><td>YO6BJG</td><td>38</td></tr>
<tr><td>YO4COI</td><td>1</td></tr>
<tr><td>YO4CAI</td><td>36</td></tr>
<tr><td>YO4BX</td><td>1</td></tr>
<tr><td>YO9FLD</td><td>39</td></tr>
<tr><td>YO4CXI</td><td>1</td></tr>
<tr><td>YO9KXR</td><td>6</td></tr>
</table>
