<p>Loguri primite pana la  ora  UTC:1/9/2026 9:11:29 AM</p>
<table><tr><th>Indicativ</th><th>Numar legaturi</th></tr>
<tr><td>YO8CKR</td><td>18</td></tr>
<tr><td>YO9CKJ</td><td>57</td></tr>
<tr><td>YO2MPG</td><td>54</td></tr>
<tr><td>IV3/YO8CNA</td><td>19</td></tr>
<tr><td>YO7HUZ</td><td>47</td></tr>
<tr><td>YO2MHO</td><td>55</td></tr>
<tr><td>YO2BLX</td><td>96</td></tr>
<tr><td>YO2BPZ</td><td>58</td></tr>
<tr><td>YO2BWR</td><td>14</td></tr>
<tr><td>YO2CDX</td><td>50</td></tr>
<tr><td>YO2GL</td><td>42</td></tr>
<tr><td>YO2KAR</td><td>79</td></tr>
<tr><td>YO2LDU</td><td>20</td></tr>
<tr><td>YO2LGH</td><td>28</td></tr>
<tr><td>YO2LJB</td><td>21</td></tr>
<tr><td>YO2LMW</td><td>72</td></tr>
<tr><td>YO2LSP</td><td>89</td></tr>
<tr><td>YO2LXW</td><td>72</td></tr>
<tr><td>YO2LZJ</td><td>29</td></tr>
<tr><td>YO2MFC</td><td>96</td></tr>
<tr><td>YO2MJZ</td><td>68</td></tr>
<tr><td>YO2MKJ</td><td>52</td></tr>
<tr><td>YO2MKK</td><td>44</td></tr>
<tr><td>YO2MOH</td><td>14</td></tr>
<tr><td>YP25MSP</td><td>61</td></tr>
<tr><td>YP25SH</td><td>94</td></tr>
<tr><td>YO3AIS</td><td>48</td></tr>
<tr><td>YO3GNF</td><td>20</td></tr>
<tr><td>YO4AJ</td><td>97</td></tr>
<tr><td>YO4BTB</td><td>18</td></tr>
<tr><td>YO4BYW</td><td>80</td></tr>
<tr><td>YO4KAK</td><td>88</td></tr>
<tr><td>YO4RST</td><td>43</td></tr>
<tr><td>YO4SI</td><td>26</td></tr>
<tr><td>YO5CDF</td><td>47</td></tr>
<tr><td>YO5DAS</td><td>91</td></tr>
<tr><td>YO5DDD</td><td>120</td></tr>
<tr><td>YO5GHA</td><td>110</td></tr>
<tr><td>YO5TP</td><td>66</td></tr>
<tr><td>YO6OHS</td><td>57</td></tr>
<tr><td>YO6PEG</td><td>33</td></tr>
<tr><td>YO7AKY</td><td>82</td></tr>
<tr><td>YO7ARY</td><td>53</td></tr>
<tr><td>YO7BEM</td><td>78</td></tr>
<tr><td>YO7CDB</td><td>105</td></tr>
<tr><td>YO7CJB</td><td>109</td></tr>
<tr><td>YO7CJU</td><td>16</td></tr>
<tr><td>YO7CKQ</td><td>87</td></tr>
<tr><td>YO7LDT</td><td>93</td></tr>
<tr><td>YO7LYM</td><td>33</td></tr>
<tr><td>YO8PN</td><td>97</td></tr>
<tr><td>YO9FL</td><td>93</td></tr>
<tr><td>YO9FLD</td><td>106</td></tr>
<tr><td>YO9HOW</td><td>42</td></tr>
<tr><td>YO9XC</td><td>84</td></tr>
<tr><td>YO9YVA</td><td>58</td></tr>
<tr><td>YP1989TM</td><td>125</td></tr>
<tr><td>YP1WFF/P</td><td>91</td></tr>
<tr><td>YP25CJX</td><td>93</td></tr>
<tr><td>YP25LLZ</td><td>84</td></tr>
<tr><td>YP25LOJ</td><td>54</td></tr>
<tr><td>YP25LRK</td><td>75</td></tr>
<tr><td>YP25MBU</td><td>49</td></tr>
<tr><td>YP25MCK</td><td>38</td></tr>
<tr><td>YP25MNC</td><td>79</td></tr>
<tr><td>YP25MTG</td><td>105</td></tr>
<tr><td>YP60CCC</td><td>107</td></tr>
</table>
Asteptam in continuare loguri de la:
<table><tr><th>Indicativ</th><th>Numar legaturi in care apare indicativul</th></tr>
<tr><td>YO1989TM</td><td>1</td></tr>
<tr><td>YP25MFC</td><td>1</td></tr>
<tr><td>YO60CCC</td><td>1</td></tr>
<tr><td>YO9CDB</td><td>1</td></tr>
<tr><td>YO7BE</td><td>1</td></tr>
<tr><td>YP25LZZ</td><td>2</td></tr>
<tr><td>YO2LLZ</td><td>1</td></tr>
<tr><td>YP5MTG</td><td>1</td></tr>
<tr><td>YO5ODL</td><td>55</td></tr>
<tr><td>YO7AKJ</td><td>2</td></tr>
<tr><td>YO2DDD</td><td>1</td></tr>
<tr><td>Y02LGH</td><td>1</td></tr>
<tr><td>YO2LOJ</td><td>1</td></tr>
<tr><td>I3/YO8CNA</td><td>1</td></tr>
<tr><td>YO2LRK</td><td>3</td></tr>
<tr><td>YO5OLD</td><td>1</td></tr>
<tr><td>YT7EC</td><td>3</td></tr>
<tr><td>YP50CCC</td><td>1</td></tr>
<tr><td>YOP25CJX</td><td>1</td></tr>
<tr><td>YO3AFS</td><td>1</td></tr>
<tr><td>YP25SI</td><td>1</td></tr>
<tr><td>YOLSP</td><td>1</td></tr>
<tr><td>YO5DHS</td><td>1</td></tr>
<tr><td>YO7KAY</td><td>1</td></tr>
<tr><td>YP25CZX</td><td>1</td></tr>
<tr><td>YO2MTG</td><td>1</td></tr>
<tr><td>YP1898TM</td><td>1</td></tr>
<tr><td>Y2LMW</td><td>1</td></tr>
<tr><td>YO7DDD</td><td>1</td></tr>
<tr><td>YO25MCK</td><td>1</td></tr>
<tr><td>YO4AG</td><td>2</td></tr>
<tr><td>YO9IVA</td><td>2</td></tr>
<tr><td>YO3GNFL</td><td>1</td></tr>
<tr><td>YO2MNC</td><td>2</td></tr>
<tr><td>IV3/YO8CN</td><td>2</td></tr>
<tr><td>I0/YO8CNA</td><td>1</td></tr>
<tr><td>YO2LLB</td><td>1</td></tr>
<tr><td>YO6HUZ</td><td>1</td></tr>
<tr><td>YO5CDR</td><td>1</td></tr>
<tr><td>YO4SR</td><td>1</td></tr>
<tr><td>YO2ALX</td><td>1</td></tr>
<tr><td>YP95LOJ</td><td>1</td></tr>
<tr><td>YO7CGJ</td><td>1</td></tr>
<tr><td>SM3EVR</td><td>1</td></tr>
<tr><td>YOYP25SH</td><td>1</td></tr>
<tr><td>Y02KAR</td><td>1</td></tr>
<tr><td>YP25LL</td><td>1</td></tr>
<tr><td>Y02LMW</td><td>2</td></tr>
<tr><td>Y25MCK</td><td>1</td></tr>
<tr><td>YOCKQ</td><td>1</td></tr>
<tr><td>YP26LRK</td><td>1</td></tr>
<tr><td>YO5DAF</td><td>1</td></tr>
<tr><td>YO9KAG</td><td>7</td></tr>
<tr><td>YP25LLG</td><td>1</td></tr>
<tr><td>YO25MNC</td><td>1</td></tr>
<tr><td>YO4KAK/P</td><td>1</td></tr>
<tr><td>YO2MJHZ</td><td>1</td></tr>
<tr><td>YPT25LLZ</td><td>1</td></tr>
<tr><td>IV3/8CNA</td><td>1</td></tr>
<tr><td>YO2MIZ</td><td>19</td></tr>
<tr><td>YO2LSM</td><td>1</td></tr>
<tr><td>YP1WFF</td><td>6</td></tr>
<tr><td>YO3LX</td><td>1</td></tr>
<tr><td>YP25RLK</td><td>1</td></tr>
<tr><td>YO7CKJ</td><td>1</td></tr>
<tr><td>YO2MPQ</td><td>1</td></tr>
<tr><td>YO2CKQ</td><td>1</td></tr>
<tr><td>YP1FFI</td><td>1</td></tr>
<tr><td>YO5PEG</td><td>1</td></tr>
<tr><td>Y07LIM</td><td>1</td></tr>
<tr><td>YO5KMM</td><td>52</td></tr>
<tr><td>YO4AL</td><td>1</td></tr>
<tr><td>Y25MNC</td><td>1</td></tr>
<tr><td>YO9HOV</td><td>1</td></tr>
<tr><td>YP25MCP</td><td>1</td></tr>
<tr><td>YO2LJZ</td><td>1</td></tr>
<tr><td>YOIV3/YO8CNA</td><td>1</td></tr>
<tr><td>YO4HUZ</td><td>1</td></tr>
<tr><td>YO9KAR</td><td>1</td></tr>
<tr><td>YO8CDF</td><td>1</td></tr>
<tr><td>YO9CKG</td><td>1</td></tr>
<tr><td>YP25MNJ</td><td>1</td></tr>
<tr><td>YO9YVO</td><td>1</td></tr>
<tr><td>YO5DD</td><td>1</td></tr>
<tr><td>YP1989MCK</td><td>1</td></tr>
<tr><td>YO6CQU</td><td>1</td></tr>
<tr><td>YO2MJB</td><td>1</td></tr>
<tr><td>YO2MH0</td><td>1</td></tr>
<tr><td>YO2LXJ</td><td>1</td></tr>
<tr><td>YO9KPM</td><td>1</td></tr>
</table>
