<p>Loguri primite pana la  ora  UTC:1/9/2026 8:46:23 AM</p>
<table><tr><th>Indicativ</th><th>Numar legaturi</th></tr>
<tr><td>YO2BCS</td><td>22</td></tr>
<tr><td>YO2CK</td><td>73</td></tr>
<tr><td>YO2CXJ</td><td>65</td></tr>
<tr><td>YO2KAR</td><td>75</td></tr>
<tr><td>YO2LCP</td><td>39</td></tr>
<tr><td>YO2LCV</td><td>58</td></tr>
<tr><td>YO2LDU</td><td>67</td></tr>
<tr><td>YO2LFN</td><td>32</td></tr>
<tr><td>YO2LTA</td><td>73</td></tr>
<tr><td>YO2MFC</td><td>45</td></tr>
<tr><td>YO2MIT</td><td>40</td></tr>
<tr><td>YO2MKL</td><td>43</td></tr>
<tr><td>YO2NAA</td><td>2</td></tr>
<tr><td>YO3GCL</td><td>80</td></tr>
<tr><td>YO3JW</td><td>35</td></tr>
<tr><td>YO4BXX</td><td>59</td></tr>
<tr><td>YO4BYW</td><td>66</td></tr>
<tr><td>YO4DW</td><td>10</td></tr>
<tr><td>YO4GOU</td><td>42</td></tr>
<tr><td>YO4KAK</td><td>59</td></tr>
<tr><td>YO4LUP</td><td>29</td></tr>
<tr><td>YO4NT</td><td>38</td></tr>
<tr><td>YO4SI</td><td>50</td></tr>
<tr><td>YO5DAS</td><td>71</td></tr>
<tr><td>YO5OHB</td><td>75</td></tr>
<tr><td>YO5PEU</td><td>72</td></tr>
<tr><td>YO5QDI</td><td>65</td></tr>
<tr><td>YO5YM</td><td>52</td></tr>
<tr><td>YO6OIW</td><td>57</td></tr>
<tr><td>YO6PEG</td><td>67</td></tr>
<tr><td>YO7BEM</td><td>62</td></tr>
<tr><td>YO7HUZ</td><td>49</td></tr>
<tr><td>YO8BFB</td><td>44</td></tr>
<tr><td>YO8BGD</td><td>74</td></tr>
<tr><td>YO8CKR</td><td>67</td></tr>
<tr><td>YO8SDC</td><td>69</td></tr>
<tr><td>YO9BI</td><td>51</td></tr>
<tr><td>YO9CWY</td><td>33</td></tr>
<tr><td>YO9GVN</td><td>64</td></tr>
<tr><td>YO9XC</td><td>61</td></tr>
<tr><td>YP1989TM</td><td>75</td></tr>
<tr><td>YP20KQT</td><td>60</td></tr>
</table>
Asteptam in continuare loguri de la:
<table><tr><th>Indicativ</th><th>Numar legaturi in care apare indicativul</th></tr>
<tr><td>YO5KDI</td><td>4</td></tr>
<tr><td>YO2KBB</td><td>57</td></tr>
<tr><td>YO4OU</td><td>1</td></tr>
<tr><td>YO7HUV</td><td>1</td></tr>
<tr><td>YO20KQT</td><td>1</td></tr>
<tr><td>YP20KQW</td><td>1</td></tr>
<tr><td>YO4BGD</td><td>2</td></tr>
<tr><td>YOYP1989TM</td><td>1</td></tr>
<tr><td>YO7PEG</td><td>1</td></tr>
<tr><td>YO2CJX</td><td>1</td></tr>
<tr><td>YO2MXC</td><td>1</td></tr>
<tr><td>YO4ND</td><td>1</td></tr>
<tr><td>YO5OEU</td><td>1</td></tr>
<tr><td>YO5QDL</td><td>1</td></tr>
<tr><td>YO6OHB</td><td>1</td></tr>
<tr><td>Y04BYW</td><td>1</td></tr>
<tr><td>YO2CKC</td><td>1</td></tr>
<tr><td>YO9GVM</td><td>1</td></tr>
<tr><td>YO4BX</td><td>2</td></tr>
<tr><td>YO2DLU</td><td>1</td></tr>
<tr><td>YO4FOU</td><td>1</td></tr>
</table>
